[Desktop Entry]
Type=Application
Name=Temper-RG350
Comment=PC-Engine emulator
Exec=temper-RG350 %f
Icon=icon
Terminal=false
Categories=emulators;
MimeType=.pce
